/* Body */

body {

background: url('../images/gameBg.jpg');

}

/* Container for Questions */

.questionArea {

	height: 500px;
	border: 2px black solid;

}

.whiteText { 

	color: white;

 }

 /* ID's */

 #correct {

 	border-top: 2px black solid;
 	padding-top: 10px;
 	height: 25px;

 }

 #incorrect {

 	border-top: 2px black solid;
 	padding-top: 10px;
 	height: 25px;
 }