/* Body */

body {

background: url('../images/gameBg.jpg');

}

/* Container for Questions */

.questionArea {

	height: 550px;
	border: 2px black solid;

}

.whiteText { 

	color: white;
	font-family: 'Permanent Marker', cursive;

 }

.sideBarText { 

	color: black;
	font-family: 'Permanent Marker', cursive;

 }

 /* ID's */

 #correct {

 	border-top: 2px black solid;
 	padding-top: 10px;
 	height: 25px;

 }

 #incorrect {

 	border-top: 2px black solid;
 	padding-top: 10px;
 	height: 25px;
 }

 .buttonStyle {
 	margin: 35px 10px 10px 10px;
 }




