@media screen and (max-width: 960px) {

body {

	padding: 15px;

}

.container {

	padding: 15px;

}

 img {
         max-width: 350px;
        max-height: 275px;
    }

}

/*  ID's */

.gamebox {

	border: 3px solid black;
	height: 400px;

}
